body {
  background-image: url("./ducksong.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white !important;
  text-shadow: 2px 2px #000000 !important;
}

span {
  font-weight: bold;
  font-size: 1.5rem;
}
