body {
  background-image: url("https://lh3.googleusercontent.com/proxy/6OS-osV2Rrsnh7vdwCvZ5TvFMZYkB0aRru_XkmH65GAccyqsAKL66UN0eqVWHkHpFPWg6W9aUYVbmz-Wlx-XCo5IOB4SLMdFzXt7MMA1cPoMhOU3U2SthdF39YmRB38oqGwcBr7UUNTo");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white !important;
  text-shadow: 2px 2px #000000 !important;
}

span {
  font-weight: bold;
  font-size: 1.5rem;
}
